<% provide(:title, "Help") %>
<div class="row">
	<div class="col-md-12">
		<h1>Frequently Asked Questions</h1>
	</div>
	
	<div class="col-md-12">
		<h3 id="tab-contents"><i id="arrow-tab" class="glyphicon glyphicon-chevron-down"></i> Table of Contents</h3>
		<ul class="tab-contents">
			<li>
				<a id="view-accs" href="#accs">Accounts</a>
			</li>
			<li>
				<a id="view-orgs" href="#orgs">Organizations</a>
			</li>
			<li>
				<a id="view-events" href="#events">Events</a>
			</li>
			<li>
				<a id="view-misc" href="#misc">Miscellaneous</a>
			</li>
		</ul>
	</div>
	
	<div class="col-md-12">
		<div class="divider"> </div>
	</div>
	
	<div class="col-md-12">
		<h3 id="accs" class="faq-title"><i class="glyphicon glyphicon-chevron-right"></i> Accounts <a class="backtop" href="#">back to top</a></h3>
		<div class="faq">
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> How do I create an account at MySportsFace?</p>
				<p class="faq-a"><b>A:</b> Follow the "Create an account" button in the front page and fill in the requirements for creating your own account at MySportsFace.</p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> How do I login to MySportsFace using an existing social network account, such as Facebook or Google+?</p>
				<p class="faq-a"><b>A:</b> Go to either the login page or the front page and press one of the big buttons that say "Login with Facebook" or "Sign in with Google". Then you must allow the website to have access to your basic profile information. Right after that, you should be online and good to go!</p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> How do I change my profile settings?</p>
				<p class="faq-a"><b>A:</b> Once you are logged in to your account, you should be able to see a dropdown menu on the top right corner of your screen saying "Account". Click on it and then click where it says "Settings". After doing so, you should be at the settings page where you can change some of your profile information.</p>
				<p><i><b>Tip:</b> You can also access your settings page from anywhere that shows your small profile to the left, just below your name.</i></p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> How can I change my profile picture?</p>
				<p class="faq-a"><b>A:</b> If you go to the settings page as explained in the previous question, you will find a text saying that your avatar is being retrieved from your Gravatar account (if you have one). If you do not have an account at Gravatar, your profile picture will be default to Gravatar's icon. In order to change it just follow the link to Gravatar's website in your settings page, create an account and then change your picture there.</i></p>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<h3 id="orgs" class="faq-title"><i class="glyphicon glyphicon-chevron-right"></i> Organizations <a class="backtop" href="#">back to top</a></h3>
		<div class="faq">
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> I can't find a sports organization that I like and usually follow in the Internet. What can I do about it?</p>
				<p class="faq-a"><b>A:</b> We're apologize for the inconvenience if you are unable find one of your most preferred organizations. Most websites do have RSS feeds and thus allow the extraction of information through them. However, there are still various sports organizations that do not follow this standard practice and as so, we cannot provide you with updated news from them, yet.</p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> Some of the news articles do not have any explicit content. Why is this happening?</p>
				<p class="faq-a"><b>A:</b> Due to RSS feed restrictions like in the previous question, some of the feeds from certain sports organizations do not provide all the content, to be viewable from other websites. If you happen to come by this issue, please follow the link to visit the original article at the organization's website. Once again, we apologize for the inconvenience.</p>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<h3 id="events" class="faq-title"><i class="glyphicon glyphicon-chevron-right"></i> Events <a class="backtop" href="#">back to top</a></h3>
		<div class="faq">
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> Some events do not have a schedule. What does this mean?</p>
				<p class="faq-a"><b>A:</b> It means that the creator of the event hasn't defined a schedule for the event yet. Be sure to check up frequently for updates, as the event information may change.</p>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<h3 id="misc" class="faq-title"><i class="glyphicon glyphicon-chevron-right"></i> Miscellaneous <a class="backtop" href="#">back to top</a></h3>
		<div class="faq">
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> I have noticed some star icons (<span class="star-full"></span>) around all user posts, news articles and events. What are they?</p>
				<p class="faq-a"><b>A:</b> Those stars represent a "thumbs up" mechanism. If you happen to like some post your friend(s) made, an article you've seen here or the event made by someone else, feel free to leave your appreciation token on it, by giving it a star. You can later remove it if you want by clicking the icon again.</p>
				<p><i><b>Tip:</b> To star an event or an article, please view its page and click the "Star this article/event" button at the top.</i></p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> I have seen that I can follow/unfollow other users, but how do I do it?</p>
				<p class="faq-a"><b>A:</b> If you are interested in following someone, visit their profile page and there should be a big button saying "Follow" or "Unfollow" near the top.</p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> I noticed that I have some followers. How can I check who is following me?</p>
				<p class="faq-a"><b>A:</b> Just click on the link saying "followers" on your small profile to the left of most pages. It will direct you to a page where you can see all your followers and their profiles.</p>
			</div>
			<div class="faq-entry">
				<p class="faq-q"><b>Q:</b> I'm interested in finding a specific post, event, article or user, but the list is too big. Please help!</p>
				<p class="faq-a"><b>A:</b> On top of every "Browse" page there should be an input field where you can specify what you want to search for. Then you just need to hit the button next to it!</p>
			</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<h3 class="faq-title"><i class="glyphicon glyphicon-chevron-right"></i> Can't find an answer to a question you have?</h3>
		<p>Send an e-mail to one of the addresses below and we may even add your question to this page.</p>
		<ul>
			<li><%= mail_to "mikazzz_pro@hotmail.com" %></li>
			<li><%= mail_to "marcos.germano@tecnico.ulisboa.pt" %></li>
		</ul>
	</div>
</div>

<script type="text/javascript">
	jQuery(document).ready(function() {
		jQuery("#tab-contents").click(function() {
			if(jQuery(this).find("#arrow-tab").attr("class") == "glyphicon glyphicon-chevron-down") {
				jQuery(this).find("#arrow-tab").attr("class", "glyphicon glyphicon-chevron-right");
			}
			else {
				jQuery(this).find("#arrow-tab").attr("class", "glyphicon glyphicon-chevron-down");
			}
			jQuery(this).nextUntil(".divider").slideToggle(200);
		});
	});
	
	var $root = $('html, body');
	$('#view-accs').click(function() {
		$root.animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top - 60
		}, 500);
		return false;
	});
	$('#view-orgs').click(function() {
		$root.animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top - 60
		}, 500);
		return false;
	});
	$('#view-events').click(function() {
		$root.animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top - 60
		}, 500);
		return false;
	});
	$('#view-misc').click(function() {
		$root.animate({
			scrollTop: $( $.attr(this, 'href') ).offset().top - 60
		}, 500);
		return false;
	});
	$('.backtop').click(function(e) {
		e.preventDefault();
		$root.animate({ scrollTop: 0 }, 250);
		return false;
	});
</script>