<%= provide(:title, @organization.name) %>
<div class="back-btn">
	<%= link_to "Go back", organization_path, class: "btn btn-lg btn-primary" %>
</div>
<h1>News</h1>
<h2><%= @organization.name %></h2>

<ul class="articles">
	<%= render @articles %>
</ul>