<% if schedule_entry.id != nil %>
	<div id="entry-<%= schedule_entry.id %>" class="event-info">
		<div class="sched-time">
			<p><%= schedule_entry.time.strftime("%H : %M") %></p>
		</div>
		<div class="sched-separator">
			<p>-</p>
		</div>
		<div class="sched-desc">
			<p><%= schedule_entry.description %></p>
		</div>
	</div>
<% end %>