<li>
  <%= link_to gravatar_for(user), user %>
  <%= link_to user.name, user %>
  <br>
  <span><b>Posts:</b> <%= user.microposts.count %></span>
  <br>
  <span><b>Events:</b> <%= user.events.count %></span>
</li>