<li class="user-banner">
  <%= link_to gravatar_for(user), user %>
  <p class="user-name"><%= link_to user.name, user %></p>
  <p class="user-post-count">Posts: <%= user.microposts.count %></p>
  <p class="user-event-count">Events: <%= user.events.count %></p>
</li>