<% provide(:title, 'Users') %>

<div class="row">
	<aside class="col-md-4">
		<div class="fixed">
			<%= render 'shared/small_profile' %>
		</div>
	</aside>

	<div class="col-md-8">
		<h1>Users</h1>

		<ul class="users">
		  <%= render @users %>
		</ul>

		<%= will_paginate %>
	</div>
</div>