<%= form_for([@event, @video], html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	
	<%= f.text_field :link, placeholder: 'Link to your video. . .', required: true, class: 'form-control' %>

	<%= f.submit "Add Video", class: "btn btn-primary" %>
	<h3><small>&#x26D4; Only accepting videos from <a href="http://vimeo.com/">Vimeo</a> or <a href="http://youtube.com/">Youtube</a>.</small></h3>
<% end %>