<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :content, class: "text-area form-control col-md-10", placeholder: "What are you thinking about right now?", :required => true, :autofocus => "true" %>
  </div>
  <%= f.submit "Send", class: "btn btn-primary col-md-2 special-btn" %>
<% end %>