<% @event.admins.each do |participant| %>
	<div class="part admin-part">
		<%= image_tag("event_admin_msf2.png", :width => "30px", :height => "30px") %>
		<%= link_to participant.name, participant, class: "admin add-transition" %><span class="title-part"> (Admin)</span>
		<% if !current_user.active_participations.find_by(event_id: @event.id).nil? and current_user.active_participations.find_by(event_id: @event.id).creator? %>
			<%= form_for(participant.active_participations.find_by(event_id: @event.id), :html => { class: "link-form", multipart: true }) do |f| %>
				<%= f.submit "remove admin", class: "link" %>
			<% end %>
		<% end %>
	</div>
<% end %>