<% if @event.videos.count > 0 %>
	<div class="videos slide carousel" id="video-carousel" data-ride="carousel" data-interval="false">
		<ol class="carousel-indicators video-selector">
			<%= render 'event_video_selector' %>
		</ol>

		<div class="carousel-inner">
			<%= render @event.videos %>
		</div>
	</div>
<% else %>
	<p class="no-videos"><i class="fa fa-times"></i> This event has no videos yet.</p>
<% end %>