<% if @event.videos.count > 0 %>
	<div class="videos slide carousel" id="video-carousel" data-ride="carousel">
		<ol class="carousel-indicators video-selector">
			<%= render 'event_video_selector' %>
		</ol>

		<div class="carousel-inner">
			<%= render @event.videos %>
		</div>
	</div>
<% else %>
	<span class="no-videos">This event has no videos yet.</span>
<% end %>