<ul class="schedule">
	<% if @event.schedule_entries.count > 0 %>
		<%= render @event.schedule_entries.order("time(time)") %>
	<% else %>
		<p class="no-sched"><span>&#x2716;</span> This event has no schedule yet.</p>
	<% end %>
</ul>