<% if !picture.id.nil? %>
	<% if picture.url.blank? %>
		<a href="#" id="picture-thumb-<%= picture.id %>">
			<%= image_tag "missing.png", alt: "missing.png" %>
		</a>
	<% else %>
		<a href="#" id="picture-thumb-<%= picture.id %>">
			<%= image_tag picture.url.thumb, alt: picture.url %>
		</a>
	<% end %>
<% end %>