@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$light-gray: #777;
$gray-medium-light: #eaeaea;
$btn-border: #357ebd;
$btn-bg: #428BCA;

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://fonts.gstatic.com/s/ubuntu/v7/sDGTilo5QRsfWu6Yc11AXg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ubuntu/v7/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.fixed {
	position: fixed;
}

.small-caps {
	font-variant: small-caps;
}

.icon {
	margin-right: 7.5px;
}

.sched-icon {
	margin-right: -5px;
}

.sched-entry {
	padding: 5px 0px 5px 7.5px;
}

.sched-time, .sched-separator, .sched-desc {
	float: left;
	color: #333;
	font-weight: bold;
	margin-left: 0 !important;
	padding-right: 10px;
}

.schedule {
	list-style: none;
	padding: 0;
	li {
		padding-top: 5px;
		padding-bottom: 0;
		padding-left: 10px;
		border-left: 5px solid $btn-bg;
		background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
		background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		margin-bottom: 10px;
		box-shadow: 3px 3px 2px #888888;
	}
}

.no-sched {
	span {
		color: #ff0000;
		font-family: 'Segoe UI Symbol';
		padding-right: 10px;
	}
	margin-left: 40px;
	font-size: 1.2em;
	font-weight: bold;
}

.entry-form {
	margin-bottom: 20px;
}

.googlemap {
	width: auto;
	height: 300px;
	margin-bottom: 20px;
	border-radius: 5px;
}

.locationmap {
	height: 400px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #777;
}

select {
	border-radius: 5px;
}

.link-form {
	margin: 0;
	float: right;
	height: 100%;
	vertical-align: middle;
}

.link {
	background: none !important;
    border: none; 
	height: 100%;
	padding-top: 5px;
	padding-right: 10px;
	vertical-align: middle;
	color: #333;
    text-decoration: none;
    cursor: pointer;
	&:hover {
		color: #333;
		text-decoration: underline;
	}
}

.extra {
	background-color: rgba(238,238,238,0.75);
	margin-bottom: 20px;
	border-radius: 5px;
}

.alert {
	margin-top: 10px;
	font-weight: bold;
	font-size: 1.2em;
}

.alert-error {
	background-color: #ffccff;
	color: #cc0000;	
}

.alert-notice {
	background-color: #ffffcc;
	color: #cc9900;
	border: 1px solid #ffff99;
}

.wide {
	margin-top: 20px;
	width: 100%;
}

.btn {
	box-shadow: 0px 3px 2px #888888;
}

.btn-opt {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	li {
		display: inline-block;
		margin: 20px 10px 0 5px;
		vertical-align: top;
		height: 150px;
		width: 150px;
		background-color: #ccc;
		border-radius: 20px;
	}
	li > a {
		padding-top: 35%;
		color: #333;
		font-weight: bold;
		font-size: 2em;
		height: inherit;
		border: none;
		outline: none;
		display: block;
		position: relative;
		border-radius: 20px;
		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

.back-btn {
	text-align: center;
	margin-bottom: 20px;
}

/* events */

.events {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		padding-left: 10px;
		margin: 0 10px 0 10px;
		border-left: 5px solid $btn-bg;
		background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
		background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		margin-bottom: 10px;
		box-shadow: 3px 3px 2px #888888;
	}
	.event-name {
		font-size: 1.2em;
		padding-top: 0;
		font-weight: bold;
	}
	.description {
		display: block;
		word-wrap: break-word;
		padding-right: 10px;
	}
	.timestamp {
		color: #777;
		display: block;
	}
}

.new-event-btn {
	text-align: center;
	margin-bottom: 20px;
	float: none;
	a {
		width: 400px;
	}
}

.event-creator {
	margin-top: -20px;
}

.event-description {
	padding-left: 40px;
	word-wrap: break-word;
}

.event-schedule {
	padding-left: 40px;
	word-wrap: break-word;
}

.comment-form {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	padding-bottom: 20px;
	border-top: 1px solid #777;
	h3 {
		span{
			color: #333;
			font-family: 'Segoe UI Symbol';
			padding-right: 10px;
		}
		color: #333;
	}
	p {
		margin-left: 40px;
	}
}

.event-info {
	overflow: auto;
	margin-top: 0;
	padding: 0;
	padding-bottom: 20px;
	h3 {
		span{
			color: #333;
			font-family: 'Segoe UI Symbol';
			padding-right: 10px;
		}
		border-left: 1px solid #333;
		color: #333;
		&:first-child {
			padding-left: 0;
			border: 0;
		}
	}
	p {
		margin-left: 40px;
	}
}

.timeloc {
	h3 {
		margin-top: 0;
	}
	p {
		padding-top: 10px;
		margin-bottom: -5px;
	}	
}

.margin-top {
	margin-top: 20px;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}


.border-right {
	border-right: 1px solid #333;
}

.anchor-links {
	font-size: 1.2em;
	position: relative;
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}

/* stats form */

.stat {
	font-size: 1.2em;
	color: $btn-bg;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  span {
	transition: 0.2s;
	&:hover {
		color: $btn-bg;
	}
  }
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #333;
    color: #333;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  strong {
    display: block;
  }
}

.user-name {
	font-weight: bold;
}

.user-post-count, .user-event-count {
	font-size: 1em;
	margin-top: -10px;
}

.user-event-count {
	margin-bottom: -5px;
}

.users {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-left: 5px solid $btn-bg;
	margin-bottom: 10px;
	padding-left: 10px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
	background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	box-shadow: 3px 3px 2px #888888;
  }
}

.mini-gravatar {
	float: left;
	border-radius: 10px;
	width: 50px;
	height: 50px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .mini-gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* pictures */

.photos {
	list-style: none;
	position: relative;
	overflow: hidden;
	width: 600px;
	height: 400px;
	margin: auto;
	border-radius: 5px;
	.pic {
		top: 0px;
		left: 0px;
		position: absolute;
		width: 600px;
		height: 400px;
		display: block;
	}
	div > img {
		border: 1px solid #777;
		border-radius: 5px;
		margin: auto;
		display: block;
		width: 600px;
		height: 400px;
	}
}

#prev, #next {
	z-index: 1;
	color: white;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	font-size: 22.5px;
	background-color: $btn-bg;
	border: 1px solid $btn-border;
	border-radius: 50px;
	width: 35px;
	height: 35px;
	position: absolute;
	&:active {
		transform: scale(0.8);
	}
	&:hover {
		background-color: #3071A9;
		border-color: #285E8E;
	}
}

#prev {
	box-shadow: 3px 3px 2px #888888;
	top: 45%;
}

#next {
	box-shadow: -3px 3px 2px #888888;
	top: 45%;
	left: 93%;
}

.no-photos, .no-participants {
	font-weight: bold;
	font-size: 1.5em;
}

.margin-top-sm {
	margin-top: 15px;
}

/* participants */

.participants {
	padding-top: 10px;
	list-style: none;
	li {
		padding-bottom: 5px;
	}
}

.admin, .participant {
	font-weight: bold;
	font-size: 1.2em;
	color: #333;
	height: 100%;
	vertical-align: middle;
}

.title-part {
	font-weight: normal;
	height: 100%;
	vertical-align: middle;
}

.creator-part {
	border-left: 5px solid rgb(100,200,0) !important;
}

.admin-part {
	border-left: 5px solid #c0aa27 !important;
}

.part {
	border-left: 5px solid $btn-bg;
	margin-bottom: 10px;
	background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
	background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	box-shadow: 3px 3px 2px #888888;
}

#participate_form {
	margin-top: 10px;
	margin-bottom: 20px;
}

/* navbar links */

.navbar li {
	position: relative;
	&:after {
		display: block;
		position: absolute;
		left: 0;
		background-color: #fff;
		width: 100%;
		bottom: 0px;
		height: 0;
		content: "";
		transition: height 0.2s;
	}
	&:hover, &:focus {
		color: #333;
		text-decoration: none;
	}
	&:hover:after {
		height: 5px;
	}
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-left: 5px solid $btn-bg;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 3px 3px 2px #888888;
	background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
	background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	margin-bottom: 10px;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
	font-weight: bold;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: #777;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
	margin-left: 5px;
	width: 60px;
	height: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* news index */

.author {
	margin-top: -20px;
}

.article-creator {
	margin-top: -10px;
}

.articles {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		padding-left: 10px;
		border-left: 5px solid $btn-bg;
		background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
		background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		margin-bottom: 10px;
		box-shadow: 3px 3px 2px #888888;
	}
	img {
		display: none;
	}
}

.article-title {
	font-weight: bold;
	font-size: 1.5em;
}

.article-author {
	margin-top: -15px;
	font-size: 0.75em;
	color: #777;
}

.article-comments {
	margin-right: 10px;
	font-size: 0.75em;
	margin-bottom: -5px;
}

.article-summary {
	word-wrap: break-word;
}

.article-description {
	word-wrap: break-word;
	img {
		max-height: 500px;
		width: auto;
	}
}

.extra-info {
	padding-top: 20px;
	font-weight: bold;
}

/* comments */

.border-top {
	border-top: 1px solid grey;
	padding-top: 10px;
	margin-left: 15px;
	margin-right: 15px;
}

.comments {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		padding-left: 10px;
		border-left: 5px solid $btn-bg;
		background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
		background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		margin-bottom: 10px;
		box-shadow: 3px 3px 2px #888888;
	}
}

.comment-author {
	font-weight: bold;
}

.comment-description {
	float: none;
	margin-top: -10px;
}

.comment-body {
	margin-top: -10px;
	word-wrap: break-word;
	float: none;
	display: block;
	padding-right: 5px;
	margin-bottom: 0px;
}

.comment-timestamp {
	color: #777;
	font-size: 1em;
	display: block;
	margin-top: -15px;
}

/* organizations index */

.original-website {
	letter-spacing: 1px;
}

.ul-title {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	li {
		display: block;
		margin: 10px 10px 10px 5px;
		height: 50px;
	}
}

.og-grid {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 100%;
}

.og-grid li {
	display: block;
	margin: 10px 10px 10px 10px;
	height: 50px;
}

.imgover {
	z-index: 0;
}

.fav-title-count, .rest-title-count, .exp-close {
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;	
}

.fav-title-count, .rest-title-count {
	padding-left: 10px;
}

.favorites, .rest {
	cursor: pointer;
	border-left: 5px solid #64C800 !important;
	box-shadow: 0px 2px 2px #888;
	background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(100,200,0,0.5) 100%) !important;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(100,200,0,0.5))) !important;
	background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(100,200,0,0.5) 100%) !important;
	background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(100,200,0,0.5) 100%) !important;
	background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(100,200,0,0.5) 100%) !important;
	background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(100,200,0,0.5) 100%) !important;
	margin: 0px 0px 10px 0px !important;
	padding-left: 10px;
	padding-top: 12.5px;
	padding-right: 10px;
}

.og-grid li > a {
	height: 50px;
	border-left: 5px solid $btn-bg;
	box-shadow: 2px 2px 2px #888;
	color: #333;
	transition: color 0.2s;
	font-weight: bold;
	letter-spacing: 1px;
	padding-top: 15px;
	background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
	background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
	&:hover {
		text-decoration: none;
		color: $btn-bg;
	}
	&:focus {
		text-decoration: none;
	}
}

.og-grid li > a img {
	width: auto;
	height: 50px;
	float: left;
	margin-top: -15px;
}

.og-grid li > a span {
	padding-left: 10px;
}

.og-grid li > a,
.og-grid li > a img {
	outline: none;
	display: block;
	position: relative;
}

/* Little Arrow 
.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #ddd;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
}
*/

.og-expander {
	position: absolute;
	background: rgba(238,238,238,1);
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.og-close::before,
.og-close::after {
	content: '';
	position: absolute;
	width: 100%;
	top: 50%;
	height: 1px;
	background: #888;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.og-close::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
	background: #333;
}

.og-fullimg, .og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	img {
		margin-top: 25px;
		display: inline-block;
		max-height: 100%;
		max-width: 100%;
	}
	h3 {
		font-weight: 300;
		font-size: 42px;
		padding: 0px 0 10px;
		margin-bottom: 10px;
	}
	p {
		font-weight: 400;
		font-size: 14px;
		line-height: 22px;
		color: #777;
	}
	a {
		font-weight: 700;
		font-size: 14px;
		color: #fff;
		background-color: $btn-bg;
		text-transform: uppercase;
		letter-spacing: 2px;
		padding: 10px 20px;
		border: 1px solid $btn-border;
		border-radius: 5px;
		display: inline-block;
		margin: 30px 0 0;
		outline: none;
		&:hover {
			border-color: #285E8E;
			color: #fff;
			background-color: #3071A9;
			text-decoration: none;
		}
	}
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-fullimg {
	text-align: center;
}

.og-details a::before {
	//content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ddd;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}

.btn-small {
	width: 33%;
}

.favoritize {
	text-align: center;
	a {
		width: 200px;
	}
}

.organization-x {
	list-style: none;
	padding: 0;
	padding-top: 20px;
	li {
		padding: 10px 0;
		padding-left: 10px;
		border-left: 5px solid $btn-bg;
		background: -moz-linear-gradient(left, rgba(238,238,238,0.75) 0%, rgba(66,139,202,0.5) 100%);
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(238,238,238,0.75)), color-stop(100%,rgba(66,139,202,0.5)));
		background: -webkit-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -o-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: -ms-linear-gradient(left, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		background: linear-gradient(to right, rgba(238,238,238,0.75) 0%,rgba(66,139,202,0.5) 100%);
		margin-bottom: 10px;
		box-shadow: 3px 3px 2px #888888;
	}
}

.org-link {
	font-weight: bold;
	font-size: 2em;
}

/* sidebar */

.add-transition {
	position: relative;
	color: #333;
	font-weight: bold;
	letter-spacing: 1px;
	&:after {
		display: block;
		position: absolute;
		left: 0;
		background-color: #333;
		width: 0;
		top: 20px;
		height: 2px;
		content: "";
		transition: width 0.2s;
	}
	&:hover, &:focus {
		color: #333;
		text-decoration: none;
	}
	&:hover:after {
		width: 101%;
	}
}

.link-transition a {
	position: relative;
	color: $btn-bg;
	font-weight: bold;
	letter-spacing: 1px;
	&:after {
		display: block;
		position: absolute;
		left: 0;
		background-color: $btn-bg;
		width: 0;
		top: 20px;
		height: 5px;
		content: "";
		transition: width 0.2s;
	}
	&:hover, &:focus {
		color: $btn-bg;
		text-decoration: none;
	}
	&:hover:after {
		width: 101%;
	}
}

.username a {
	color: #333;
	position: relative;
	&:after {
		display: block;
		position: absolute;
		left: 0;
		background-color: #333;
		width: 0;
		height: 2px;
		content: "";
		transition: width 0.2s;
	}
	&:hover, &:focus {
		color: #333;
		text-decoration: none;
	}
	&:hover:after {
		width: 100%;
	}
}

.handle {
	color: #888;
	display: none;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 10px;
  border-radius: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

.form-control {
	border-radius: 0;
	&:focus {
		border-color: $btn-border;
		outline: 0px none;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 8px rgba(53, 126, 189, 0.6);
	}
}

.datetime {
	margin-bottom: 0;
}

select {
	border-radius: 0;
	border: 1px solid #bbb;
	margin-bottom: 15px;
	padding-left: 7.5px;
	option {
		padding-left: 10px;
	}
	&:focus {
		border-color: $btn-border;
		outline: 0px none;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1) inset, 0px 0px 8px rgba(53, 126, 189, 0.6);
	}
	@include box_sizing;
	transition: border-color 0.15s;
	&:focus:after {
		border-color: $btn-border;
	}
}

input, textarea, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* universal */

a {
	color: $btn-bg;
	&:hover {
		color: #2A6496;
	}
}

body {
	overflow-y: scroll;
	font-family: Ubuntu;
	padding-top: 60px;
	background: url("bg_blur.jpg") no-repeat center center fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  margin-top: 10px;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
	color: #fff;
	text-decoration: none;
  }
}

.row {
	min-height: 450px;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #888;
  color: $light-gray;
  a {
	color: #333;
  }
  small {
	float: left;
  }
  ul {
	float: right;
	list-style: none;
	li {
		float: left;
		margin-left: 15px;
	}
  }
}