<li id="organization-<%= organization.id %>">
	<%= link_to image_tag(organization.logo, class: 'imgover') + content_tag(:span, organization.name), organization, data: { largesrc: organization.logo, title: organization.name, description: organization.description } %>
</li>