<%= provide(:title, 'Organizations') %>
<h1>Pick an organization!</h1>

<ul id="og-grid" class="og-grid">
	<% if @organizations.count > 0 %>
		<%= render @organizations %>
	<% else %>
		<h3>There are no organizations at this moment :(</h3>
		<h3>Please come back later!</h3>
	<% end %>
</ul>