<%= provide(:title, 'Organizations') %>
<h1>Pick an organization!</h1>

<ul id="og-grid" class="og-grid">
	<% if @organizations.count > 0 %>
		<% @organizations.each do |organization| %>
			<li>
				<div class="overlay"></div>
				<%= link_to image_tag(organization.logo, :size => "150x150"), organization, data: { largesrc: organization.logo, title: organization.name, description: organization.description } %>
			</li>
		<% end %>
	<% else %>
		<h3>There are no organizations at this moment :(</h3>
		<h3>Try again later!</h3>
	<% end %>
</ul>