<%= provide(:title, @organization.name) %>
<h1><%= @organization.name %></h1>

<ul class="organization-x">
	<li>
		<span class="org-link">
			<%= link_to "News", organization_articles_path(@organization) %> (<%= @organization.articles.count %>)
		</span>
	</li>
</ul>