<footer class="footer">
  <small>
    <%= link_to "MySportsFace", root_path %> 
	by <a href="http://web.tecnico.ulisboa.pt/ist169721">Marcos Germano</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
    </ul>
  </nav>
</footer>