<footer class="footer">
  <small>
    <%= link_to "MySportsFace", root_path %> 
	by <a href="http://web.tecnico.ulisboa.pt/ist169721">Marcos Germano</a>
  </small>
  <nav>
    <ul>
      <li>Instituto Superior Técnico @ 2014-2015</li>
    </ul>
  </nav>
</footer>